# Data Cleaning 

#### 1. Import pandas library.

In [5]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [6]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [7]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table.

In [8]:
data = pd.read_sql_query('SELECT * FROM stats.users', engine)

data.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId.

In [20]:
data1 = data.rename(columns={'Id': 'userId'})

#### 6. Import the posts table.

In [22]:
data2 = pd.read_sql_query('SELECT * FROM stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [23]:
data3 = data2.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'})

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [27]:
users_columns = data1[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]

In [26]:
posts_columns = data3[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [28]:
inner_merge = pd.merge(left=users_columns, right=posts_columns, left_on='userId', right_on='userId')

In [43]:
inner_merge.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [31]:
inner_merge.isnull()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
90579,False,False,False,False,False,False,False,False,False
90580,False,False,False,False,False,False,False,False,False
90581,False,False,False,False,False,False,False,False,False
90582,False,False,False,False,False,False,False,False,False
90583,False,False,False,False,False,False,False,False,False

In [38]:
inner_merge.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

In [40]:
inner_merge.isnull().sum() > 0

userId          False
Reputation      False
Views           False
UpVotes         False
DownVotes       False
postId          False
Score           False
ViewCount        True
CommentCount    False
dtype: bool

In [42]:
null_cols = inner_merge.isnull().sum()

null_cols[null_cols > 0]

ViewCount    48396
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [45]:
null_cols[null_cols > 0] / len(inner_merge) * 100

#we will clean the values from ViewCount column as missing values represent more than 50% of values

ViewCount    53.426654
dtype: float64

In [46]:
threshold = 50
null_filter = null_cols > threshold

drop_cols = list(null_cols[null_filter].index)

drop_cols

['ViewCount']

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [47]:
inner_merge.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [53]:
inner_merge.fillna({'ViewCount':-1}, inplace=True)

In [54]:
inner_merge.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,-1.0,0
1,-1,1,0,5007,1920,8576,0,-1.0,0
2,-1,1,0,5007,1920,8578,0,-1.0,0
3,-1,1,0,5007,1920,8981,0,-1.0,0
4,-1,1,0,5007,1920,8982,0,-1.0,0