# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [21]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [22]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [23]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [24]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [25]:
# Your code here:
legendary = pokemon['Legendary'] == True
non_legendary = pokemon['Legendary'] == False

legendary_df = pokemon[legendary]
non_legendary_df = pokemon[non_legendary]

legendary_mean = legendary_df['Total'].mean()
print(f'The average total points for legendary pokemons is: {legendary_mean}')
non_legendary_mean = non_legendary_df['Total'].mean()
print(f'The average total points for non legendary pokemons is: {non_legendary_mean}')

legendary_median = legendary_df['Total'].median()
print(f'The median total points for legendary pokemons is: {legendary_median}')
non_legendary_median = non_legendary_df['Total'].median()
print(f'The median total points for non legendary pokemons is: {non_legendary_median}')

The average total points for legendary pokemons is: 637.3846153846154
The average total points for non legendary pokemons is: 417.21360544217686
The median total points for legendary pokemons is: 600.0
The median total points for non legendary pokemons is: 425.0

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [26]:
# Your code here:
from scipy import stats
stats.ttest_ind(legendary_df['Total'],non_legendary_df['Total'], equal_var= False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:
The pvalue is really small, thus it can be confirmed that the samples are significative different

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [27]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [28]:
# Your code here:
water = pokemon['Type 1'] == 'Water'
non_water = pokemon['Legendary'] != 'Water'

water_df = pokemon[water]
non_water_df = pokemon[non_water]

water_mean = water_df['Total'].mean()
print(f'The average total points for water pokemons is: {water_mean}')
non_water_mean = non_water_df['Total'].mean()
print(f'The average total points for non water pokemons is: {non_water_mean}')

water_median = water_df['Total'].median()
print(f'The median total points for water pokemons is: {water_median}')
non_water_median = non_water_df['Total'].median()
print(f'The median total points for non water pokemons is: {non_water_median}')

The average total points for water pokemons is: 430.45535714285717
The average total points for non water pokemons is: 435.1025
The median total points for water pokemons is: 455.0
The median total points for non water pokemons is: 450.0

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [29]:
# Your code here:
stats.ttest_ind(water_df['Total'],non_water_df['Total'], equal_var= True)

Ttest_indResult(statistic=-0.3865645058398148, pvalue=0.6991690098764859)

Write your conclusion below.

# Your conclusions here:
We can conclude that, as the pvalue is larger that 0.05, there is not a signifficant difference between the samples

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [30]:
# Your code here:
import scipy
from scipy import stats

scipy.stats.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

# Your conclusions here:
The pvalue is smaller than 0.05, then we reject the null hypothesis of equal averages.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [31]:
# Your code here:
scipy.stats.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

# Your conclusions here:
The pvalue is bigger than 0.05, then we can not reject the null hypothesis of equal averages.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [32]:
# Your code here:
from scipy.stats import ttest_1samp
pokemon['power_diff'] = pokemon['Defense'] - pokemon['Attack']
ttest_1samp(pokemon['power_diff'], 0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

My conclusions here:
There is difference between the samples, so this analysis coincides with the previous one.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [41]:
# Your code here:
def water(df):
    if df['Type 1'] == 'Water':
        return 'Water'
    else:
        return 'Non water'

pokemon['Water'] = pokemon.apply(water, axis=1)
display(pokemon)
cont_table = pd.crosstab(pokemon['Legendary'], pokemon['Water'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,power_diff,Water
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0,Non water
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1,Non water
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1,Non water
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,23,Non water
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,-9,Non water
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,50,Non water
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,-50,Non water
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,-50,Non water
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,-100,Non water
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,10,Non water

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [45]:
#Your code here:
from scipy.stats import chi2_contingency
scipy.stats.chi2_contingency(cont_table, correction=True, lambda_=None)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

# Your answer here:
As the p value is bigger than the 5%, we do not reject the null hypothesis at 95% level of confidence (there is no dependency between being legendary and being water)