# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
# Your code here:

pokemon.head()
pokemon.sample(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
408,373,Salamence,Dragon,Flying,600,95,135,80,110,80,100,3,False
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
389,356,Dusclops,Ghost,NaN,455,40,70,130,60,130,25,3,False
326,302,Sableye,Dark,Ghost,380,50,75,75,65,65,50,3,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
225,209,Snubbull,Fairy,NaN,300,60,80,50,40,40,30,2,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
335,308,Medicham,Fighting,Psychic,410,60,60,75,60,75,80,3,False
308,284,Masquerain,Bug,Flying,414,70,60,62,80,82,60,3,False
594,534,Conkeldurr,Fighting,NaN,505,105,140,95,55,65,45,5,False
281,259,Marshtomp,Water,Ground,405,70,85,70,60,70,50,3,False
464,417,Pachirisu,Electric,NaN,405,60,45,70,45,90,95,4,False
482,434,Stunky,Poison,Dark,329,63,63,47,41,41,74,4,False
672,611,Fraxure,Dragon,NaN,410,66,117,70,40,50,67,5,False
768,698,Amaura,Rock,Ice,362,77,59,50,67,63,46,6,False
260,241,Miltank,Normal,NaN,490,95,80,105,40,70,100,2,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [11]:
# Your code here:

pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [22]:
# Your code here:

legendary_mean = pokemon.loc[pokemon["Legendary"]==True, "Total"].mean()
legendary_mean

637.3846153846154

In [23]:
non_legendary_mean = pokemon.loc[pokemon["Legendary"]!=True, "Total"].mean()
non_legendary_mean

417.21360544217686

In [24]:
legendary_std = pokemon.loc[pokemon["Legendary"]==True, "Total"].std()
legendary_std

60.93738905315344

In [25]:
non_legendary_std = pokemon.loc[pokemon["Legendary"]!=True, "Total"].std()
non_legendary_std

106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [28]:
# Your code here:

from scipy.stats import ttest_ind

ttest_ind(pokemon.loc[pokemon["Legendary"]==True, "Total"], pokemon.loc[pokemon["Legendary"]!=True, "Total"], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

# There is a significant difference between the two samples

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [29]:
# Your code here:

pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [35]:
# Your code here:

water_mean = pokemon.loc[pokemon["Type 1"]=="Water", "Total"].mean()
print(water_mean)

water_std = pokemon.loc[pokemon["Type 1"]=="Water", "Total"].std()
print(water_std)

non_water_mean = pokemon.loc[pokemon["Type 1"]!="Water", "Total"].mean()
print(non_water_mean)

non_water_std = pokemon.loc[pokemon["Type 1"]!="Water", "Total"].std()
print(non_water_std)

430.45535714285717
113.1882660643146
435.85901162790697
121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [38]:
# Your code here:

from scipy.stats import ttest_ind

ttest_ind(pokemon.loc[pokemon["Type 1"]=="Water", "Total"], pokemon.loc[pokemon["Type 1"]!="Water", "Total"], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [39]:
# Your conclusions here:

# There isn't a significant difference between the mean of the two samples

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [42]:
# Your code here:

from scipy.stats import ttest_rel

ttest_rel(pokemon["Attack"], pokemon["Defense"])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [43]:
# Your conclusions here:

# There is a significant difference between the mean of the two samples

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [47]:
# Your code here:

ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [48]:
# Your conclusions here:

# There isn't a significant difference between the mean of the two samples

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [53]:
# Your code here:

from scipy.stats import ttest_1samp

pokemon["Difference"] = pokemon["Attack"] - pokemon["Defense"]

ttest_1samp(pokemon["Difference"], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: