# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [26]:
# Your code here:
# Legendary pokemon

legendary = pokemon[pokemon['Legendary'] == True]

legendary.value_counts().sum()

40

In [27]:
# Non - legendary pokemon

non_legendary = pokemon[pokemon['Legendary'] == False]

non_legendary.value_counts().sum()

374

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [33]:
# Your code here:

legendary['Total'].agg({'std','mean'}), non_legendary['Total'].agg({'std','mean'})

(std      60.937389
 mean    637.384615
 Name: Total, dtype: float64,
 std     106.760417
 mean    417.213605
 Name: Total, dtype: float64)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [35]:
# Your code here:

from scipy.stats import ttest_ind

display(ttest_ind(legendary['Total'], non_legendary['Total'], equal_var=True))

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

"""What these results tell us (probability is larger than 0.05) is the null hypothesis is staisfied, that is, the Total mean of legendary pokemon is 
significantly different from the Total mean of non-legendary."""

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [36]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [41]:
# Your code here:

water_type = pokemon['Type 1'] == 'Water'

water = pokemon[water_type]
non_water = pokemon[~water_type]

display(water['Total'].agg({'std','mean'}))
display(non_water['Total'].agg({'std','mean'}))

std     113.188266
mean    430.455357
Name: Total, dtype: float64

std     121.091682
mean    435.859012
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [9]:
# Your code here:

display(ttest_ind(water['Total'], non_water['Total'], equal_var=True))

Write your conclusion below.

In [10]:
# Your conclusions here:

"""On the contrary than legendary and non-legendary, it can be seen that the Total mean of water pokemon is not significantly different than non-water, 
since probability is higher than 0.05 and student T is negative"""

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [48]:
# Your code here:

from scipy.stats import ttest_rel, ttest_1samp

ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [43]:
# Your conclusions here:

"""Our p-value is very small. This means that there is a significant difference between the two sample means."""

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [45]:
# Your code here:

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

"""Our p-value is higher than 0.05. This means that there is no significant difference between the two sample means.""

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [50]:
# Your code here:
    
pokemon['diff'] = pokemon['Attack'] - pokemon['Defense']

ttest_1samp(pokemon['diff'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

### Same results than ttest_rel

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [63]:
# Your code here:

legendary_filter = pokemon['Legendary'] == True
water_filter = pokemon['Type 1'] == 'water'

contingency_table = pd.crosstab(pokemon[legendary_filter], pokemon[water_filter])

ValueError: Shape of passed values is (14, 2), indices imply (0, 2)

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

from scipy.stats import chi2_contingency

chi2, p, dof, ex = chi2_contingency(contingency_table, correction=False)

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: