# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:

legendary = pokemon.groupby(by='Legendary', as_index=False).agg({'Name': pd.Series.nunique})

legendary

   Legendary  Name
0      False   735
1       True    65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:
mean = pokemon.groupby(by='Legendary', as_index=False).agg({'Total': 'mean'})
mean

   Legendary       Total
0      False  417.213605
1       True  637.384615

In [7]:
std_dev = pokemon.groupby(by='Legendary', as_index=False).agg({'Total': 'std'})
std_dev

   Legendary       Total
0      False  106.760417
1       True   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [8]:
# Your code here:
from scipy import stats

legendary = pokemon[pokemon['Legendary'] == True]
legendary_list = legendary['Total'].dropna().to_list()


non_legendary = pokemon[pokemon['Legendary'] == False]
non_legendary_list = non_legendary['Total'].dropna().to_list()

In [9]:
stats.ttest_ind(legendary_list,non_legendary_list, equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [10]:
# Your conclusions here:
''' We can asume that Leganday Pokemon have a higher Total score with a p-value of less than 0.05'''

' We can asume that Leganday Pokemon have a higher Total score with a p-value of less than 0.05'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [11]:
# Your code here:

type_1_count = pokemon.groupby(by='Type 1', as_index=False).agg({'Name': pd.Series.nunique})
type_1_count

      Type 1  Name
0        Bug    69
1       Dark    31
2     Dragon    32
3   Electric    44
4      Fairy    17
5   Fighting    27
6       Fire    52
7     Flying     4
8      Ghost    32
9      Grass    70
10    Ground    32
11       Ice    24
12    Normal    98
13    Poison    28
14   Psychic    57
15      Rock    44
16     Steel    27
17     Water   112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [12]:
# Your code here:
pokemon['is_water'] = pokemon['Type 1'].apply(lambda x: True if x == 'Water' else False)

In [13]:
mean = pokemon.groupby(by='is_water', as_index=False).agg({'Total': 'mean'})
mean

   is_water       Total
0     False  435.859012
1      True  430.455357

In [14]:
std_dev = pokemon.groupby(by='is_water', as_index=False).agg({'Total': 'std'})
std_dev

   is_water       Total
0     False  121.091682
1      True  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [15]:
# Your code here:
water = pokemon[pokemon['is_water'] == True]
water_list = legendary['Total'].dropna().to_list()


non_water = pokemon[pokemon['is_water'] == False]
non_water_list = non_legendary['Total'].dropna().to_list()

In [16]:
stats.ttest_ind(water_list,non_water_list, equal_var = True)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

Write your conclusion below.

In [17]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [19]:
# Your code here:

from scipy.stats import ttest_rel

In [20]:
attack = pokemon['Attack'].to_list()
defense = pokemon['Defense'].to_list()

In [21]:
ttest_rel(attack, defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [26]:
# Your conclusions here:
'p-value is higher than 0.05, so we can confirm that there is statistically difference between attack and defence'

'p-value is higher than 0.05, so we can confirm that there is statistically difference between attack and defence'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [27]:
# Your code here:
sp_attack = pokemon['Sp. Atk'].to_list()
sp_defense = pokemon['Sp. Def'].to_list()

In [28]:
ttest_rel(sp_attack, sp_defense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

'Same as before, p-value is higher than 0.05, so we can confirm that there is difference between special attack and defense'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [29]:
# Your code here:
from scipy.stats import ttest_1samp

In [30]:
pokemon['Atk - Def Difference'] = pokemon['Attack'] - pokemon['Defense']

In [31]:
difference_list = pokemon['Atk - Def Difference'].to_list()

In [32]:
ttest_1samp(difference_list, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [33]:
# Your code here:
contingency_table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1']=='Water')

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [34]:
# Your code here:
from scipy.stats import chi2_contingency

In [36]:
chi2_contingency(contingency_table, correction=False)

(3.617455159932616,
 0.0571762700873503,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [37]:
# Your answer here:
'p-value is slightly higher than 0.05, so we cannot reject the null hypothesis'

'p-value is slightly higher than 0.05, so we cannot reject the null hypothesis'