# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np
from scipy.stats import ttest_rel, ttest_1samp, ttest_ind, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
filter_non_legendary = pokemon['Legendary'] == False
filter_legendary = pokemon['Legendary'] == True

In [6]:
pokemon[filter_non_legendary]['Total'].mean()
pokemon[filter_non_legendary]['Total'].std()

106.76041745713005

In [7]:
pokemon[filter_legendary]['Total'].mean()
pokemon[filter_legendary]['Total'].std()

60.93738905315344

The computation of the mean midescribee us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [8]:
# Your code here:
ttest_ind(pokemon['Total'].loc[pokemon['Legendary'] == False], pokemon['Total'].loc[pokemon['Legendary'] == True], equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [9]:
# Your conclusions here:
"""H0: Not significantly different
H1: Significantly different"""

"""p_valu is very low. We can reject H0 and say that the difference is significant"""

'p_valu is very low. We can reject H0 and say that the difference is significant'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [10]:
# Your code here:

pokemon['Type 1'].unique()
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [11]:
# Your code here:
pokemon['Total'].loc[pokemon['Type 1'] == 'Water']
pokemon['Total'].loc[pokemon['Type 1'] != 'Water']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 688, dtype: int64

In [12]:
mean_not_water = pokemon['Total'].loc[pokemon['Type 1'] != 'Water'].mean()
std_not_water = pokemon['Total'].loc[pokemon['Type 1'] != 'Water'].std()

mean_water = pokemon['Total'].loc[pokemon['Type 1'] == 'Water'].mean()
std_water = pokemon['Total'].loc[pokemon['Type 1'] == 'Water'].std()

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [13]:
# Your code here:
results = ttest_1samp(pokemon['Total'].loc[pokemon['Type 1'] != 'Water'], mean_water)

In [14]:
results.statistic

1.1704893818846211

In [15]:
results.pvalue < 0.05

False

Write your conclusion below.

In [16]:
# Your conclusions here:
"""H0: not_water pokemons are not significantly diff to the mean of water pokemon
   H1: not_water pokemons are significantly diff to the mean of water pokemon"""

'p_value = 1.17 > 0.05. We cannot reject H0'

'p_value = 1.17 > 0.05. We cannot reject H0'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [17]:
# Your code here:
pokemon['Attack']
pokemon['Defense']

ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [18]:
# Your conclusions here:
"""H0: samples are not significantly different
   H1: samples are significantly different"""

'p_value < 0.05 -> We can reject H0'

'p_value < 0.05 -> We can reject H0'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [19]:
# Your code here:
pokemon['Sp. Atk']
pokemon['Sp. Def']

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [20]:
# Your conclusions here:

"""H0: samples are not significantly different
   H1: samples are significantly different"""

"""p_value > 0.05 -> We can't reject H0"""

"p_value > 0.05 -> We can't reject H0"

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [21]:
# Your code here:

pokemon['difference'] = pokemon['Sp. Atk'] - pokemon['Sp. Def']
ttest_1samp(pokemon['difference'], 0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [22]:
# Your code here:

water = pokemon['Type 1'] == 'Water'
con_table = pd.crosstab(pokemon.Legendary, water)
con_table

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [23]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [24]:
# Your answer here: