# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
legendary = pokemon.groupby('Legendary')['Legendary'].count().to_list()
legendary[1]

65

In [5]:
non_legendary = legendary[0]
non_legendary

735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
legendary_points = pokemon[pokemon['Legendary'] == True]['Total'].to_list()

legendary_mean = np.mean(legendary_points)
legendary_std = np.std(legendary_points)

In [7]:
non_legendary_points = pokemon[pokemon['Legendary'] == False]['Total'].to_list()

non_legendary_mean = np.mean(non_legendary_points)
non_legendary_std = np.std(non_legendary_points)

In [8]:
print(f'Legendary: total points mean = {legendary_mean}, total points standard deviation = {legendary_std}')

print(f'Non legendary: total points mean = {non_legendary_mean}, total points standard deviation = {non_legendary_std}')

Legendary: total points mean = 637.3846153846154, total points standard deviation = 60.46682302213779
Non legendary: total points mean = 417.21360544217686, total points standard deviation = 106.68776660321979

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [9]:
import scipy
from scipy.stats import ttest_ind

In [10]:
test_results = ttest_ind(legendary_points, non_legendary_points)
test_results

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

In [11]:
test_results.pvalue < 0.05

True

What do you conclude from this test? Write your conclusions below.

In [12]:
# As p value is under 0.05, we can conclude there's a difference between legendary and non legendary points.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [13]:
type_1_pokemons = pokemon.groupby('Type 1')['Type 1'].count()
type_1_pokemons.sort_values()

Type 1
Flying        4
Fairy        17
Ice          24
Fighting     27
Steel        27
Poison       28
Dark         31
Ghost        32
Dragon       32
Ground       32
Electric     44
Rock         44
Fire         52
Psychic      57
Bug          69
Grass        70
Normal       98
Water       112
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [14]:
water_pokemons = pokemon[pokemon['Type 1'] == 'Water']['Total'].to_list()

water_pokemons_mean = np.mean(water_pokemons)
water_pokemons_std = np.std(water_pokemons)

In [15]:
non_water_pokemons = pokemon[pokemon['Type 1'] != 'Water']['Total'].to_list()

non_water_pokemons_mean = np.mean(non_water_pokemons)
non_water_pokemons_std = np.std(non_water_pokemons)

In [16]:
print(f'Water pokemons: total points mean = {water_pokemons_mean}, total points standard deviation = {water_pokemons_std}')

print(f'Non water pokemons: total points mean = {non_water_pokemons_mean}, total points standard deviation = {non_water_pokemons_std}')

Water pokemons: total points mean = 430.45535714285717, total points standard deviation = 112.681828329091
Non water pokemons: total points mean = 435.85901162790697, total points standard deviation = 121.00364762501172

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [17]:
test_results = ttest_ind(water_pokemons, non_water_pokemons)
test_results

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

In [18]:
test_results.pvalue < 0.05

False

Write your conclusion below.

In [19]:
# As p value is over 0.05, there is no such difference between water pokemons and non water pokemons total points.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [20]:
from scipy.stats import ttest_rel

In [21]:
attack_scores = pokemon['Attack'].dropna().to_list()
defense_scores = pokemon['Defense'].dropna().to_list()

In [22]:
test_results = ttest_rel(attack_scores, defense_scores)
test_results

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [23]:
test_results.pvalue < 0.05

True

Describe the results of the test in the cell below.

In [24]:
# As p value is under 0.05, we can conclude there's a difference between attack and defense scores.
# So we reject our hypothesis, as scores are not equal.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [25]:
sp_attack = pokemon['Sp. Atk'].dropna().to_list()
sp_defense = pokemon['Sp. Def'].dropna().to_list()

In [26]:
test_results = ttest_rel(sp_attack, sp_defense)
test_results

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [27]:
test_results.pvalue < 0.05

False

Describe the results of the test in the cell below.

In [28]:
# As p value is over 0.05, we can say there's no significant difference between special attack and special defense.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [29]:
from scipy.stats import ttest_1samp

In [30]:
difference = (pokemon['Attack'] - pokemon['Defense']).to_list()

In [31]:
test_results = ttest_1samp(difference, 0)
test_results

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [32]:
test_results.pvalue < 0.05

True

In [33]:
# As p value is under 0.05, difference between the means is not zero.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [35]:
contingency_table = pd.crosstab(pokemon['Legendary'],pokemon['Type 1'] == 'Water')
contingency_table

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [36]:
from scipy.stats import chi2_contingency

In [43]:
chi_squared_test = chi2_contingency(contingency_table, correction=True)
chi_squared_test

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

In [44]:
chi_squared_test[1] < 0.05

False

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# As p value is over 0.05, we can confirm that the variables are independent, there's no relation between legendary and water pokemons