# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

legendary_count = sum(pokemon['Legendary'])

non_legendary_count = len(pokemon['Legendary']) - sum(pokemon['Legendary'])

print('Legendary:', legendary_count)
print('Non-Legendary:', non_legendary_count)

Legendary: 65
Non-Legendary: 735

How to count the number of True booleans in a list in Python
https://www.kite.com/python/answers/how-to-count-the-number-of-true-booleans-in-a-list-in-python

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:

legendary_pokemon_df = pokemon[pokemon['Legendary']==True]
non_legendary_pokemon_df = pokemon[pokemon['Legendary']==False]

non_legendary_pokemon_df
legendary_pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [6]:
print('non_legendary_mean:', non_legendary_pokemon_df['Total'].mean())
print('legendary_mean:', legendary_pokemon_df['Total'].mean())
print('non_legendary_std:', non_legendary_pokemon_df['Total'].std())
print('legendary_std:', legendary_pokemon_df['Total'].std())

non_legendary_mean: 417.21360544217686
legendary_mean: 637.3846153846154
non_legendary_std: 106.76041745713005
legendary_std: 60.93738905315344

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:

from scipy.stats import ttest_ind

ttest_ind(legendary_pokemon_df['Total'].to_list(), non_legendary_pokemon_df['Total'].to_list(), equal_var=False)

# This up here is exactly equivalent to this down here:

ttest_ind(legendary_pokemon_df['Total'], non_legendary_pokemon_df['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:

# The pvalue is a really small number less than < 0.05, and therefore we can reject the default null hypothesis.
# The null hyphotesis in this case would be assuming that there is no difference between samples.
# Rejecting it means there is actually significant differences.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:

len(pokemon['Type 1'].unique())

print('There are', len(pokemon['Type 1'].unique()), 'types of Pokemons in the Type 1 column' )
print("You can see them unique types in the list below")

pokemons_types = pokemon['Type 1'].unique()
pokemons_types

There are 18 types of Pokemons in the Type 1 column
You can see them unique types in the list below

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [10]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [11]:
# Your code here:

water_pokemons = pokemon[pokemon['Type 1'] == 'Water']
non_water_pokemons = pokemon[~(pokemon['Type 1'] == 'Water')]
print('water_pokemons_mean:', water_pokemons['Total'].mean())
print('non_water_pokemons_mean:', non_water_pokemons['Total'].mean())
print(water_pokemons.mean())
print(non_water_pokemons.mean())
print('water_pokemons_std:', water_pokemons['Total'].std())
print('non_water_pokemons_std:', non_water_pokemons['Total'].std())
print(water_pokemons.std())
print(non_water_pokemons.std())

water_pokemons_mean: 430.45535714285717
non_water_pokemons_mean: 435.85901162790697
#             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
dtype: float64
#             372.536337
Total         435.859012
HP             68.802326
Attack         79.790698
Defense        73.988372
Sp. Atk        72.495640
Sp. Def        72.127907
Speed          68.654070
Generation      3.399709
Legendary       0.088663
dtype: float64
water_pokemons_std: 113.1882660643146
non_water_pokemons_std: 121.0916823020807
#             188.440807
Total         113.188266
HP             27.487026
Attack         28.377192
Defense        27.773809
Sp. Atk        29.030128
Sp. Def        28.460493
Speed          23.019353
Generation      1.558800
Legendary       0.186411
dtype: float64
#             209.928799
Total         121.091682
HP             25.194299
Attack         33.025152
Defense        31.719933
Sp. Atk        33.292537
Sp. Def        27.739292
Speed          29.925907
Generation      1.666119
Legendary       0.284463
dtype: float64

In [12]:
pokemon['Type 1']=='Water'

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [13]:
pokemon.groupby(pokemon['Type 1']=='Water').agg({'Total':[np.mean, np.std]})

             Total
              mean         std
Type 1
False   435.859012  121.091682
True    430.455357  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [14]:
# Your code here:
from scipy.stats import ttest_ind

ttest_ind(water_pokemons['Total'], non_water_pokemons['Total'], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [15]:
# Your conclusions here:

# 0.65 > 0.05 Null hypothesis is NOT rejected

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [16]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [17]:
print(pokemon['Attack'].mean())
print(pokemon['Defense'].mean())

79.00125
73.8425

In [18]:
from scipy.stats import ttest_rel

ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [19]:
# Your conclusions here:

# pvalue < 0.05 Null hypothesis is rejected. There appears to be sigficant difference

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [20]:
# Your code here:
print(pokemon['Sp. Atk'].mean())
print(pokemon['Sp. Def'].mean())

72.82
71.9025

In [21]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [22]:
# Your conclusions here:
# pvalue < 0.05 Null hypothesis is rejected. There appears to be sigficant difference

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [23]:
# Your code here:
from scipy.stats import ttest_1samp
ttest_1samp(pokemon['Sp. Atk']-pokemon['Sp. Def'], 0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [24]:
# Your code here:

contingency_table = pd.crosstab(pokemon['Legendary']==True, pokemon['Type 1']=='Water')
contingency_table

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [25]:
# Your code here:
from scipy.stats import chi2_contingency

chi2_contingency(contingency_table, correction=False)

(3.617455159932616,
 0.0571762700873503,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

In [26]:
chi2, p, dof, ex = chi2_contingency(contingency_table, correction=False)

In [27]:
chi2

3.617455159932616

In [28]:
p

0.0571762700873503

In [29]:
dof

1

In [30]:
ex

array([[632.1, 102.9],
       [ 55.9,   9.1]])

Based on a 95% confidence, should we reject the null hypothesis?

In [31]:
# Your answer here:

# p = 0.0571762700873503 which is > 0.05 and means that its there is not sufficient statistical significance to reject the null hypothesis.

In [32]:
# Im not sure if I should use or not the Yates correction, but with both values the p value would fall in the same area. So the answer is the same