# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
# Your code here:

legendary = pokemon[pokemon['Legendary']==True]
non_legendary = pokemon[pokemon['Legendary']==False]
legendary_mean = legendary['Total'].mean()
non_legendary_mean = non_legendary['Total'].mean()
legendary_std = legendary['Total'].std()
non_legendary_std = non_legendary['Total'].std()

print (f'legendary mean = {legendary_mean}, legendary std = {legendary_std}, non_legendary_mean = {non_legendary_mean}, non_legendary_std = {non_legendary_std}')

legendary mean = 637.3846153846154, legendary std = 60.93738905315344, non_legendary_mean = 417.21360544217686, non_legendary_std = 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [18]:
# Your code here:

from scipy.stats import ttest_ind

legendary_total = legendary['Total']
non_legendary_total = non_legendary['Total']
test = ttest_ind(legendary_total, non_legendary_total)
print (f'{test}')

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
# H0 = Legendary and non legendary have the same total points
# H1 = Legendary and non legendary do not have the same total points
# statistic = 16.4, legendary pokemons have indeed much more total points. Great evidence against the null hypothesis
# pvalue = very low, Great evidence against the null hypothesis.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [20]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [33]:
# Your code here:

water_pokemon = pokemon[pokemon['Type 1'] == 'Water']['Total']
water_pokemon_mean = water_pokemon.mean()
water_pokemon_std = water_pokemon.std()
non_water_pokemon = pokemon[pokemon['Type 1'] != 'Water']['Total']
non_water_pokemon_mean = non_water_pokemon.mean()
non_water_pokemon_std = non_water_pokemon.std()

print(f'Water pokemon mean = {water_pokemon_mean}, Water pokemon std = {water_pokemon_std}')
print(f'Non water pokemon mean = {non_water_pokemon_mean}, Non water std = {non_water_pokemon_std}')

Water pokemon mean = 430.45535714285717, Water pokemon std = 113.1882660643146
Non water pokemon mean = 435.85901162790697, Non water std = 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [34]:
# Your code here:

ttest_ind(water_pokemon, non_water_pokemon)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
# The mean is almost the same for both groups of pokemon. We could not reject the null hypothesis.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [38]:
# Your code here:

from scipy.stats import ttest_rel 

defense = pokemon['Defense']
attack = pokemon['Attack']

ttest_rel(defense, attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

#The attack mean is higher. We reject the null hypothesis

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [39]:
# Your code here:

special_defense = pokemon['Sp. Def']
special_attack = pokemon['Sp. Atk']
ttest_rel(special_defense, special_attack)

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

# We accept the null hypothesis, the is not a significant difference level

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [43]:
# Your code here:

from scipy.stats import ttest_1samp

pokemon['Atk-Def Gap'] = pokemon['Attack'] - pokemon['Defense']
ttest_1samp(pokemon['Atk-Def Gap'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [44]:
# Same result for ttest_rel and ttest_1samp hypothesis

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [49]:
# Your code here:
# contingency table

obs = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water')
obs

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [50]:
# Your code here:
from scipy.stats import chi2_contingency

chi2, p, dof, ex = chi2_contingency(obs, correction = False)
chi2, p, dof, ex

(3.617455159932616,
 0.0571762700873503,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
# p is greater than 0.05, so we fail to reject the null hypothesis