# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [63]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [64]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [65]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [66]:
# Your code here:

pokemon['Legendary'].value_counts()

#Legendary pokemons->65
#Non-Lengendary pokemons->735

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [67]:
# Your code here:

#Lengendary pokemons

non_legendary_mean= pokemon[pokemon['Legendary']==False]['Total'].mean()
print(f'Mean of Non-Legendary pokemons is {non_legendary_mean}')

non_legendary_std= pokemon[pokemon['Legendary']==False]['Total'].std()
print(f'Std of Non-Legendary pokemons is {non_legendary_std}')

#Non-Legendary Pokemons


legendary_mean= pokemon[pokemon['Legendary']==True]['Total'].mean()
print(f'\nMean of Legendary pokemons is {legendary_mean}')

legendary_std= pokemon[pokemon['Legendary']==True]['Total'].std()
print(f'Std of Legendary pokemons is {legendary_std}')

Mean of Non-Legendary pokemons is 417.21360544217686
Std of Non-Legendary pokemons is 106.76041745713005

Mean of Legendary pokemons is 637.3846153846154
Std of Legendary pokemons is 60.93738905315344

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [68]:
# Your code here:
from scipy.stats import ttest_ind

Non_legendary_sample=pokemon[pokemon['Legendary']==False]['Total']

Legendary_sample=pokemon[pokemon['Legendary']==True]['Total']

result= ttest_ind(Legendary_sample,Non_legendary_sample)

print(result)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [69]:
# Your conclusions here:

#There is a significant difference between the total points of Non-legendary and legendary pokemons.

#Because of the statistic is 16, we can affirm that the legendary pokemons have much more total points than the non-legendary.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [70]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [71]:
# Your code here:
water_pokemon_mean=pokemon[pokemon['Type 1']== 'Water']['Total'].mean()
water_pokemon_std=pokemon[pokemon['Type 1']== 'Water']['Total'].std()

print(f'The mean of water pokemon is {water_pokemon_mean}')
print(f'The std of water pokemon is {water_pokemon_std}')

other_pokemon_mean= pokemon[pokemon['Type 1']!= 'Water']['Total'].mean()
other_pokemon_std= pokemon[pokemon['Type 1']!= 'Water']['Total'].std()

print(f'\nThe mean of non-water pokemon is {other_pokemon_mean}')
print(f'The std of non-water pokemon is {other_pokemon_std}')

The mean of water pokemon is 430.45535714285717
The std of water pokemon is 113.1882660643146

The mean of non-water pokemon is 435.85901162790697
The std of non-water pokemon is 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [72]:
# Your code here:

water_sample=pokemon[pokemon['Type 1']== 'Water']['Total']
non_water_sample=pokemon[pokemon['Type 1']!= 'Water']['Total']

ttest_ind(water_sample, non_water_sample)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [73]:
# Your conclusions here:

#We accept the null hypothesis. As we can see in analysis of the mean and std of both variables, the mean is practicly the same for the two samples.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [74]:
# Your code here:
from scipy.stats import ttest_rel

attack_sample= pokemon['Attack']
defense_sample= pokemon['Defense']

ttest_rel(attack_sample, defense_sample)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [75]:
# Your conclusions here:

# We accept our hypothesis. There is a significant difference between the attack and the difference of the pokemons.
#The attack mean is higher than the defense in our pokemons dataset.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [76]:
# Your code here:

special_attack= pokemon['Sp. Atk']
special_deffense= pokemon['Sp. Def']

ttest_rel(special_attack,special_deffense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [77]:
# Your conclusions here:

#We accept the null hypothesis. There is no significant difference between special attack and special difference.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [78]:
# Your code here:

from scipy.stats import ttest_1samp

pokemon['diference']= pokemon['Sp. Atk']- pokemon['Sp. Def']

ttest_1samp(pokemon['diference'], 0)

#We can confirm that the results are the same for both hypothesis.

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [79]:
# Your code here:

contingency_table= pd.crosstab(pokemon['Type 1']=='Water', pokemon['Legendary'])
display(contingency_table)

Legendary  False  True
Type 1
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [80]:
# Your code here:
from scipy.stats import chi2_contingency

chi2, p, dof, ex = chi2_contingency(contingency_table, correction=False)

Based on a 95% confidence, should we reject the null hypothesis?

In [81]:
# Your answer here:
if p> 0.05:
    print('We can´t reject the null hypothesis')
else:
    print('We reject the null hypothesis')

We can´t reject the null hypothesis