# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [60]:
# import numpy and pandas

import numpy as np
import pandas as pd
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [61]:
# Your code here:
chicago_salary = pd.read_csv('../hypothesis_testing_dataset.csv')

Examine the `salaries` dataset using the `head` function below.

In [62]:
# Your code here:

chicago_salary.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [63]:
# Your code here:
len(chicago_salary)
chicago_salary.info()
chicago_salary.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [64]:
# Your code here:
salary = chicago_salary['Salary or Hourly'] == 'Salary'

print(f'Salary employees are {len(chicago_salary[salary])}')
print(f'Hourly employees are {len(chicago_salary) - len(chicago_salary[salary])}')

Salary employees are 25161
Hourly employees are 8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [65]:
# Your code here:
print(chicago_salary['Department'].unique().tolist())
departments = chicago_salary[['Name', 'Department']].groupby('Department', as_index = False).agg('count')
departments

['POLICE', 'GENERAL SERVICES', 'WATER MGMNT', 'OEMC', 'CITY COUNCIL', 'AVIATION', 'STREETS & SAN', 'FIRE', 'FAMILY & SUPPORT', 'PUBLIC LIBRARY', 'TRANSPORTN', "MAYOR'S OFFICE", 'HEALTH', 'BUSINESS AFFAIRS', 'LAW', 'FINANCE', 'CULTURAL AFFAIRS', 'COMMUNITY DEVELOPMENT', 'PROCUREMENT', 'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK', 'BOARD OF ELECTION', 'DISABILITIES', 'HUMAN RESOURCES', 'DoIT', 'BUDGET & MGMT', 'TREASURER', 'INSPECTOR GEN', 'HUMAN RELATIONS', 'COPA', 'BOARD OF ETHICS', 'POLICE BOARD', 'ADMIN HEARNG', 'LICENSE APPL COMM']

               Department   Name
0            ADMIN HEARNG     39
1           ANIMAL CONTRL     81
2                AVIATION   1629
3       BOARD OF ELECTION    107
4         BOARD OF ETHICS      8
5           BUDGET & MGMT     46
6               BUILDINGS    269
7        BUSINESS AFFAIRS    171
8              CITY CLERK     84
9            CITY COUNCIL    411
10  COMMUNITY DEVELOPMENT    207
11                   COPA    116
12       CULTURAL AFFAIRS     65
13           DISABILITIES     28
14                   DoIT     99
15       FAMILY & SUPPORT    615
16                FINANCE    560
17                   FIRE   4641
18       GENERAL SERVICES    980
19                 HEALTH    488
20        HUMAN RELATIONS     16
21        HUMAN RESOURCES     79
22          INSPECTOR GEN     87
23                    LAW    407
24      LICENSE APPL COMM      1
25         MAYOR'S OFFICE     85
26                   OEMC   2102
27                 POLICE  13414
28           POLICE BOARD      2
29            PROCUREMENT     92
30         PUBLIC LIBRARY   1015
31          STREETS & SAN   2198
32             TRANSPORTN   1140
33              TREASURER     22
34            WATER MGMNT   1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [66]:
# Your code here:
from scipy.stats import ttest_1samp

hourly = chicago_salary['Salary or Hourly'] == 'Hourly'
hourly_df = chicago_salary[hourly]
hourly_sample = hourly_df['Typical Hours'].sample(500)
#display(hourly_sample)

test_results = ttest_1samp(hourly_sample, 30)
display(test_results.statistic)
display(test_results.pvalue < 0.05)

10.549709969407662

True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [67]:
# Your code here:
police = chicago_salary['Department'] == 'POLICE'
salaried = chicago_salary['Salary or Hourly'] == 'Salary'
filt_police = police & salaried
police_df = chicago_salary[filt_police]
police_sample = police_df['Annual Salary'].sample(500)
#display(police_sample)

test_results = ttest_1samp(police_sample, 86000)
display(test_results.statistic)
display((test_results.pvalue / 2) < 0.05)

0.15325390667607833

False

Using the `crosstab` function, find the department that has the most hourly workers.

In [68]:
# Your code here:
hourly_cross = pd.crosstab(hourly_df['Department'], hourly_df['Salary or Hourly'])
hourly_cross.sort_values('Hourly', ascending = False)

Salary or Hourly       Hourly
Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
FIRE                        2
PROCUREMENT                 2
BUDGET & MGMT               2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [69]:
# Your code here:
streets = hourly_df['Department'] == 'STREETS & SAN'
streets_df = hourly_df[streets]
streets_sample = streets_df['Typical Hours'].sample(400)

test_results = ttest_1samp(streets_sample, 35)
display(test_results.statistic)
display((test_results.pvalue / 2) < 0.05)

2.6658713826828992

True

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [70]:
# Your code here:
conf_level = 0.95
dof = len(hourly_df) -1
print(dof)
mean = np.mean(hourly_df['Hourly Rate'])
print(mean)
st_error= st.sem(hourly_df['Hourly Rate'])
print(st_error)

interval_hourly = st.t.interval(conf_level, dof, mean, st_error)
print(interval_hourly)

8021
32.78855771628024
0.1352368565101596
(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [71]:
# Your code here:
conf_level = 0.95
dof = len(police_df) -1
print(dof)
mean = np.mean(police_df['Annual Salary'])
print(mean)
st_error= st.sem(police_df['Annual Salary'])
print(st_error)

interval_police = st.t.interval(0.95, dof, mean, st_error)
print(interval_police)

13403
86486.41450313339
157.82445675052244
(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [81]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

count = len(hourly_df)
nobs = len(chicago_salary)
h0 = 0.25
#statsmodels.stats.proportion.proportions_ztest

stat, pval = proportions_ztest(count, nobs, h0, 'two-sided')

print(stat)
print(pval)
             
display((pval) < 0.05)

-3.5099964213703005
0.0004481127249057967

True