# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [27]:
# import numpy and pandas

import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import t
from scipy.stats import norm
from scipy.stats import ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
chicago = pd.read_csv("/home/markaw/Downloads/hypothesis_testing_dataset.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

chicago.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

((chicago['Annual Salary'].isna().sum()) / len(chicago['Annual Salary'].tolist())) * 100

24.17502938251514

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [16]:
# Your code here:
chicago['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [5]:
# Your code here:

chicago.groupby('Department').count().sort_values(by=['Name'], ascending=False)

,Name,Job Titles,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Department,,,,,,,
POLICE,13414,13414,13414,13414,10,13404,10
FIRE,4641,4641,4641,4641,2,4639,2
STREETS & SAN,2198,2198,2198,2198,1862,336,1862
OEMC,2102,2102,2102,2102,1273,829,1273
WATER MGMNT,1879,1879,1879,1879,1513,366,1513
AVIATION,1629,1629,1629,1629,1082,547,1082
TRANSPORTN,1140,1140,1140,1140,725,415,725
PUBLIC LIBRARY,1015,1015,1015,1015,299,716,299
GENERAL SERVICES,980,980,980,980,765,215,765
FAMILY & SUPPORT,615,615,615,615,287,328,287
FINANCE,560,560,560,560,44,516,44
HEALTH,488,488,488,488,3,485,3
CITY COUNCIL,411,411,411,411,64,347,64
LAW,407,407,407,407,40,367,40
BUILDINGS,269,269,269,269,0,269,0
COMMUNITY DEVELOPMENT,207,207,207,207,4,203,4
BUSINESS AFFAIRS,171,171,171,171,7,164,7
COPA,116,116,116,116,0,116,0
BOARD OF ELECTION,107,107,107,107,0,107,0
DoIT,99,99,99,99,0,99,0
PROCUREMENT,92,92,92,92,2,90,2
INSPECTOR GEN,87,87,87,87,0,87,0
MAYOR'S OFFICE,85,85,85,85,8,77,8
CITY CLERK,84,84,84,84,0,84,0
ANIMAL CONTRL,81,81,81,81,19,62,19
HUMAN RESOURCES,79,79,79,79,4,75,4
CULTURAL AFFAIRS,65,65,65,65,7,58,7
BUDGET & MGMT,46,46,46,46,2,44,2
ADMIN HEARNG,39,39,39,39,0,39,0
DISABILITIES,28,28,28,28,0,28,0
TREASURER,22,22,22,22,0,22,0
HUMAN RELATIONS,16,16,16,16,0,16,0
BOARD OF ETHICS,8,8,8,8,0,8,0
POLICE BOARD,2,2,2,2,0,2,0
LICENSE APPL COMM,1,1,1,1,0,1,0

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [4]:
# Your code here:
"""Null H: not different/very similar to 30 USD  
Alternative H: significantly different to 30 USD
Calculating the average, we see the actual mean is 32.7 - that would be significantly differnt from 30. 
This is confirmed by ttest: we see a p = 4.32. This is lesser than 5% so we can accept our alternative H """

# for our own benefit, let's check what the actual average is 
h_rates = chicago.loc[chicago['Salary or Hourly'] == 'Hourly']['Hourly Rate'].tolist()
mean_hourly = sum(h_rates)/len(h_rates)
print(mean_hourly)

test_results = ttest_1samp(h_rates, 30)
display(test_results.statistic)
display(test_results.pvalue < 0.05)
test_results.pvalue

32.78855771628128

20.6198057854942

True

4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [11]:
# Your code here:

"""Null H: Salaries are NOT higher than last years average of 86k
Alternative H: Salaries ARE higher thank last years average of 86k
We see by calculating the mean that salaries are indeed higher.
We confirm this by seeing that our P/2 value is 0.001, which is smaller than 5%
As a result we can accept Alternative H, salaries are indeed higher this year"""

chicago_police = chicago.loc[chicago['Department'] == 'POLICE']
chicago_police_salary = chicago_police.loc[chicago_police['Salary or Hourly'] == 'Salary']

# for our own benefit, let's check what the actual average is 
police_salaries_list = chicago_police_salary['Annual Salary'].tolist()
mean_salaries = sum(police_salaries_list)/len(police_salaries_list)
print(mean_salaries)

police_results = ttest_1samp(police_salaries_list, 86000)
display(police_results.statistic)
display(police_results.pvalue / 2)

86486.41450313339

3.081997005712994

0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers.

In [8]:
# Your code here:
pd.crosstab(chicago['Department'], chicago['Salary or Hourly']).sort_values(by=['Hourly'], ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [12]:
# Your code here:
"""Null H: the hourly wage is NOT less than 35 (workers are wrong)
Alternative H: Workers are right, the avg salary IS lower than 35. 
The mean calculation in our population seems to indicate that workers are right. 
The ttest confirms this: p/2 = 0.0, which is lower than 5%, so we can accept the alternative H
"""

chicago_street = chicago.loc[chicago['Department'] == 'STREETS & SAN']
chicago_street_hourly = chicago_street.loc[chicago_street['Salary or Hourly'] == 'Hourly']

# for our own benefit, let's check what the actual average is 
street_hourly_list = chicago_street_hourly['Hourly Rate'].tolist()
mean_hourly = sum(street_hourly_list)/len(street_hourly_list)
print(mean_hourly)


street_results = ttest_1samp(street_hourly_list, 86000)
display(street_results.statistic)
display(street_results.pvalue / 2)

33.728378088076845

-646794.315310026

0.0

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [40]:
# Your code here:
chicago_hourly = chicago.loc[chicago['Salary or Hourly'] == 'Hourly']
chicago_hourly_list = chicago_hourly['Hourly Rate'].tolist()
    
n=len(chicago_hourly_list)
mean=np.mean(chicago_hourly_list)
sem=stats.sem(chicago_hourly_list)   #  standard error of the mean

z = stats.t.ppf((1+0.95)/2, n-1)   #  Critical value (alpha / 2)
h = sem * z    

CI = (mean-h,mean+h)
CI

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [36]:
# Your code here:

n=len(police_salaries_list)
mean=np.mean(police_salaries_list)
sem=stats.sem(police_salaries_list)

z = stats.t.ppf((1+0.95)/2, n-1)
h = sem * z

CI = (mean-h,mean+h)
CI

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: